*{
    overflow-wrap: break-word;
    
}
.searchWord{
    font-family: 'Lato', serif;
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    margin-top: 10vh;
    margin-bottom:5vh;
    opacity: 0.7;
}
.itemWrapper{
    height: 15vh;
    transition: all 0.5s ease-in-out;
 
}
.itemWrapper:hover{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
}
.siteName{
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: black;
  opacity: 0.3;
  letter-spacing: 2px;
  margin-left: 12vw;
  margin-top: 8vh;
  margin-bottom: 5vh;
}


.offerWrapper{
  width:100%;
  height:45vh;
  border-radius: 4px;
  margin-bottom: 3vh;
}
.pictureOffer{
  width: 100%;
  height: 20vh;
  
}
.titleOffer{
  width: 100%;
  height:5vh;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1vw;
  padding-top: 0.5vh;
}
.moreInfoOffer{
  width: 100%;
  height:6vh;
  padding-left: 1vw;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.priceOffer{
  width: 100%;
  height: 5vh;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1vw;
  font-weight: 500;
}
.buttonOffer{
  width: 100%;
  height:5vh;
  
}
.image{
  max-width: 100%;
  background-repeat: no-repeat;
  height: 20vh;
  background-position: center; 
  border-radius: 5px;
  margin-top: 1vh;
  
}

.buttonCar{
  width: 80%;
  margin-left: 10%;
  height: 12vh;
  display: block;
 
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
  transition: all 1s ease;
  font-family: 'Montserrat', sans-serif;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 0;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 0px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.thar-three {
	color: rgb(68, 68, 68);
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid #fcc842;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #fcc842;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}



















.pace {
  pointer-events: none;
  user-select: none;
  z-index: 20000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background-color:white;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background-color: white;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  position: absolute;
  top:0;
  left: 0;
  width:100vw;
  height:100vh;
  z-index: 1000;
  background:rgb(0, 0, 0);
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
    font-family: 'Gelasio', serif;
    letter-spacing: 2px;
    font-style: italic;
    text-transform: uppercase;
}

@media (max-width: 700px){
  body {
      overflow:visible;
  }
}